/*Makes the background aquamarine*/
html {
    background-color: aquamarine;
}
/*Make the form of the html have a white background, have a height, padding on the top, text-align, width, margin to the left. border-radius, and a bodder style (which is dotted)*/
form {
   background-color: white;
   height: 150px;
   padding-top: 40px;
   text-align: center;
   width: 500px;
   margin-left: 30%;
   border-radius: 10px;
   border-style: dotted;
 }

/*This makes the input fields for the user to enter information have the light blue background*/
input#wage, #hours {
  background-color: rgb(229,255,246);
}

/*The paragraph has a font that is called monospace and have a font size pf 1.5em*/
 p {
   font-family: monospace;
   font-size: 1.5em;
 }

/*The heading on the top of the page have a monospace font, is bolded, font size of 3em, and also has a text shadow that is white*/
h2 {
  font-family: monospace;
  font-style: bold;
  font-size: 3em;
  text-shadow: 2px 2px white;
}
